@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 400px) {
  .flex-wrap {
    flex-direction: column;
    text-align: center;
    justify-items: center;
  }
  /* .ml-2 {
    margin-left: 0; Reset margin left for smaller screens
  } */
}

.image-container {
  width: 100%; /* Take up the full width of the parent */
  padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio (height = 9/16 * width) */
  position: relative; /* Required for child elements */
}

.background-div {
  background-image: url("/image 4(3).jpg");
  background-size: cover; /*Ensures the image covers the entire div*/
  background-position: center; /*Centers the image
  /* display: flex; Flexbox for centering the content */
  /* justify-content: center; Centers the content horizontally */
  /* align-items: center; Centers the content vertically */
  /* color: white; Sets the text color to white */
  /* text-align: center; Centers the text */
}

/*h1 {*/
/*font-size: 3rem; /* Adjust the font size as needed */
/*margin: 0; /* Removes default margin */
/*}*/
